<p id="notice"><%= notice %></p>

<p>
  <strong>Accepted:</strong>
  <%= @tutorship.accepted %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @tutorship.starting_date %>
</p>
<p>
  <strong>Hourly Rate:</strong>
  <%= @tutorship.hourly_rate %>
</p>
<p>
  <strong>hr/week:</strong>
  <%= @tutorship.hours_a_week %>
</p>
<p>
  <strong>Weeks:</strong>
  <%= @tutorship.weeks %>
</p>

<p>
  <strong>Tuition Fee:</strong>
  <%= @tutorship.tuition_fee %>
</p>

<%= link_to 'Edit', edit_tutorship_path(@tutorship) %> |
<%= link_to 'Back', tutorships_path %>
