<div class="jumbotron index">
   <div class="row">    
      <h2></h2>
   </div>
   <div class="row">
      <div class="col-lg-2 col-md-1"></div>
       <div class="col-lg-8 col-md-10">
             <%= form_tag search_tutor_profiles_path, :method=> :get, :class=> "center" do %>
      <%= select_tag :search, options_for_select(@all_tutors.map {|tt| [tt.split.map{ |w| ['and','or','of'].include?(w) ? w : w.capitalize}.join(' '),tt]}), :include_blank => true, :id => "e1", :class => "form-control indexsearchbox font22 pull-left", placeholder: t('What subject can we help with?') %>
          <%= submit_tag t("Find Tutors"), :name => nil, :class=> "indexsearchbutton pull-left" %>
          <br>
          <div class="level" style="color:#ffffff">
             <div class="col-md-6 col-sm-6 mrgtop10">
               <div id="ua_list_head" style="cursor: pointer; font-weight: bolder;">
                 <span style="font-size: 16px;"></span>
                 <span class="collapse_status_button_1" style="font-size: 16px;">&nbsp;&nbsp;</span>
                 <span class="collapse_status_button_1" style="font-size: 16px; display: none">&nbsp;&nbsp;-</span>
               </div>
               <br>
               <div id="ua_list" style="font-size: 15px; display: none">
                 <% Level.university_admission_levels.each do |ual| %>
                   <%= check_box_tag "level[]", ual %> <%= ual %><br>
                 <% end %>
               </div>
             </div>
             <div class="col-md-6 col-sm-6 mrgtop10">
               <div id="ep_list_head" style="cursor: pointer; font-weight: bolder;">
                 <span style="font-size: 16px;">시험 준비</span>
                 <span class="collapse_status_button_2" style="font-size: 16px;">&nbsp;&nbsp;+</span>
                 <span class="collapse_status_button_2" style="font-size: 16px; display: none">&nbsp;&nbsp;-</span>
               </div>
               <br>
               <div id="ep_list" style="font-size: 15px; display: none">
                 <% Level.exam_preparation_levels.each do |epl| %>
                   <%= check_box_tag "level[]", epl %> <%= epl %><br>
                 <% end %>
               </div>
             </div>
           </div><!-- end of level-->
      </div>
   </div>
           
     <% end %>
   </div>
</div><!-- end of jumbotron-->

  
<script>
  $(document).ready(function() { $("#e1").select2({placeholder: "수업과목", allowClear: true}); });
</script>

<script>
  $("#ua_list_head").click(function(){
    $("#ua_list").slideToggle("slow")
    $(".collapse_status_button_1").toggle()
  })
  $("#ep_list_head").click(function(){
    $("#ep_list").slideToggle("slow")
    $(".collapse_status_button_2").toggle()
  })
</script>

<script>
  function get_country_set_city(country){
    $.ajax({
      url: "<%= pages_get_country_set_city_path %>",
      method: "POST",
      data: {country_name : country},
      success:function(data){
        cities = data.cities
        options = '<option value="">Select City</option>'
        for(i=0;i<cities.length;i++){
          options = options + '<option value='+'"'+ cities[i]+'"' +'> ' + cities[i] + '</option>'
        }
        $("#search_city_select").html(
          '<select class="form-control indexsearchbox" name="search_city" >'+
            options+
          '</select>'
        )
      }
    })
  }
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63657243-1', 'auto');
  ga('send', 'pageview');

</script>