<div class="container">
<br><br>
  <!------------ Header for stepping ----------->
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-3"></div>
        <div class="col-lg-6">
        <ul class="nav nav-tabs nav-justified" style="text-align: center">
          <li><%= button_to "1", wizard_path(:step1), :class=>"tutorsignup", :method => :get %><p>학력</p></li>
            <li><%= button_to "2", wizard_path(:step2), :class=>"tutorsignup", :method => :get %><p>수업과목</p></li>
            <li><%= button_to "3", wizard_path(:step3), :class=>"tutorsignup main", :method => :get %><p>자기소개</p></li>
        </ul>
      </div>
    </div>
  </div>
  <!-----------/ Header for stepping ----------->


  <!------------ Body For Step3 ----------->
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">

      <%= form_for(@tutor_profile, :url => update_tutor_profile_new_tutor_profiles_path, :method => :post) do |f| %>

        <%= hidden_field_tag "user_step", params[:id] %>

        <br>
        <div class="row">
          <% if @tutor_profile.image.present? %>
             <div class="form-group">
               <%= image_tag f.object.image.url(:original), :id => "cropbox" %>
               <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
                   <%= f.hidden_field attribute, :id => attribute %>
               <% end %>
             </div>

             <div class="form-group">
                <h4>미리보기:</h4>
                <div style="width:100px; height:100px; overflow:hidden">
                  <%= image_tag @tutor_profile.image.url(:large), :id => "preview" %>
                </div>
             </div>
          <% end %>

           <div class="form-group">
            <%= f.label :자기소개 %><br>
            <%= f.text_area :about_myself, class: "form-control", :rows => 8 %>
          </div>
          <div class="form-group">
            <%= f.label :과외경력 %><br>
             <h5>그루미 표준 선생님 프로필 참고 부탁드리겠습니다 <a href="http://www.gurume.kr/tutor_profiles/6" target="blank" class="link">www.gurume.kr/tutor_profiles/6</a></h5>
             <%= f.text_area :teaching_experience, class: "form-control", :rows => 8, placeholder: "*수업기간 + 수업과목 + 간략한 수업 Summary를 입력해주시면 학생측으로부터의 과외문의가 증가합니다." %>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-6">
            <%= f.submit "선생님 등록", :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-----------/ Body For Step3 ----------->

</div>

<script>

    $(function() {
      if (<%= @tutor_profile.image.present? %>) {
        $('#cropbox').Jcrop({
          onChange: update_crop,
          onSelect: update_crop,
          setSelect: [0, 0, 500, 500],
          aspectRatio: 1
        });
      }
    });

    function update_crop(coords) {
        var rx = 100/coords.w;
        var ry = 100/coords.h;
        console.log(coords)
        $('#preview').css({
            width: Math.round(rx * <%= @tutor_profile.avatar_geometry(:original).width rescue 0 %>) + 'px',
            height: Math.round(ry * <%= @tutor_profile.avatar_geometry(:original).height rescue 0 %>) + 'px',
            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
            marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
        var ratio = <%= @tutor_profile.avatar_geometry(:original).width rescue 0 %> / <%= @tutor_profile.avatar_geometry(:small).width rescue 0 %>;
        $("#crop_x").val(Math.round(coords.x * ratio));
        $("#crop_y").val(Math.round(coords.y * ratio));
        $("#crop_w").val(Math.round(coords.w * ratio));
        $("#crop_h").val(Math.round(coords.h * ratio));
    }
</script>